.cardContainer{
    border: 1px solid gray;
    width: 40vw;
    margin: 1em auto;
    background-color: white;
}
.imageHeader{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5em 1em;
}
.dotContainer{
    justify-self: right;
    align-self: center;
}
.image{
    
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid gray;
    border-bottom:1px solid gray ;
}
.imgcontainer{
    margin-bottom: 1em;
}
.reactionContainer{
    padding: 0 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8em;
}
.heartcontainer{
    background-color: white;
    border: none;
}
.likesContainer{
    color: gray;
    padding: 0.5em 0.5em 0 0.5em;
}
.dateContainer{
    justify-self: right;
    color: gray;
}
.descriptionContainer{
    padding: 0.5em 0.5em 1.5em 1.2em;
    font-size: 0.9em;
}